<h1 mat-dialog-title>Unit editieren</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name"/>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Beschreibung" [(ngModel)]="data.description" ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ablehnen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Bestätigen</button>
</div>
