<mat-card>
  <mat-card-header>
    <mat-card-title>Units</mat-card-title>
    <mat-card-subtitle>Units und Cases zum ausgewahlen Projekt</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="card-test-units unit-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tests Units</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon class="list-ico">favorite</mat-icon>
            Unit 1
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon class="list-ico">favorite</mat-icon>
            Unit 2
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon class="list-ico">favorite</mat-icon>
            Unit 3
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="card-table unit-card">

  <div class="example-container mat-elevation-z8">

    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- tools Column -->
        <ng-container matColumnDef="tools">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edition(element)">
              <mat-icon>create</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Beschreibung</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Datum</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </div>

</div>
