
.card-test-units {
  width: 20%;
}

.card-table {
  width: 70%;
}

.unit-card {
  position: relative;
  display: inline-grid;
  margin: 20px;
}

.list-ico {
  right: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

