<mat-toolbar color="primary" class="app-toolbar">
  <span>QFlow</span>
  <span class="toolbar-spacer"></span>
  <mat-icon class="info-icon">help_outline</mat-icon>
</mat-toolbar>

<mat-sidenav-container class="app-side-nav" color="accent">
  <mat-sidenav mode="side" opened="true" class="app-side-menu">
    <mat-list>
      <mat-list-item>
        <a routerLink="/" routerLinkActive="active"><mat-icon class="menu-icon">view_list</mat-icon> <span>Home</span></a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/projects" routerLinkActive="active"><mat-icon class="menu-icon">view_list</mat-icon> <span>Projekte</span></a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/units" routerLinkActive="active"><mat-icon class="menu-icon">view_list</mat-icon> <span>Units</span></a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [hidden]="!loading" class="loader">
      <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </div>
    <div [hidden]="loading" class="router-output">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

