
.app-toolbar {
  position: absolute;
}

.app-side-nav {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-side-menu {
  background-color: #283593;
}

.mat-list-item a {
  color: rgba(255, 255, 255, .87);
  text-decoration: none;
}

.menu-icon {
  margin-right: 5px;
}

.info-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
